<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog.MVC</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Blog.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <a href="https://icons8.com/icon/sXm12ie1GUjg/laptop-coding"></a>
    <a href="https://icons8.com/icon/VePnztDVWGMn/blog"></a>

    <style>
        .dropdown-item:hover {
            background-color: black
        }

        #sbutton:hover {
            background-color: black !important
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <img src="https://img.icons8.com/external-itim2101-lineal-color-itim2101/40/000000/external-blog-copywriting-itim2101-lineal-color-itim2101-1.png" class="nav-pic" />
            <a class="navbar-brand" style="font-family: 'Arial Rounded MT'; color: white; margin-left: 8px; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;" href="/Home/Index"><b>Blog</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="btn btn-outline-light" style="font-family: 'Arial Rounded MT'; border: 1px solid black; margin-left: 8px;" href="/Home/Index/"><b>Home</b></a>

                    </li>

                    <li class="nav-item dropdown">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-light dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="font-family: 'Arial Rounded MT'; border: 1px solid black; margin-left: 8px;"
                                    href="/Category/GetCategories">
                                <b>Categories</b>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #dc3545; ">
                                <a class="dropdown-item" style="color:white;text-shadow:1px 2px 4px black" href="#"><b>Technology</b></a>
                                <a class="dropdown-item" style="color:white;text-shadow:1px 2px 4px black" href="#"><b>Movies</b></a>
                                <a class="dropdown-item" style="color:white;text-shadow:1px 2px 4px black" href="#"><b>Sports</b></a>
                                <a class="dropdown-item" style="color:white;text-shadow:1px 2px 4px black" href="#"><b>Music</b></a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" style="color:white;text-shadow:1px 2px 4px black" href="/Category/GetCategories"><b>Something else here</b></a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light" style="font-family: 'Arial Rounded MT'; border: 1px solid black; margin-left: 8px; " href="/UserPost/Index"><b>Posts</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light" style="font-family: 'Arial Rounded MT'; border: 1px solid black; margin-left: 8px; " href="/Home/About"><b>About Me</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light" style="font-family: 'Arial Rounded MT'; border: 1px solid black; margin-left: 8px; " href="/Home/Contact"><b>Contact</b></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="@ViewBag.searchUrl" method="post">
                    @Html.AntiForgeryToken()
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="border: 2px solid black;">
                    <button class="btn btn-outline-dark my-2 my-sm-0" id="sbutton" type="submit" style="background-color:lightgray; border: 2px solid black;">Search</button>
                </form>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-danger">

        <div class="wp-block-group__inner-container row justify-content-center align-items-center">
            <a href="https://www.facebook.com" target="_blank"> <img src="https://img.icons8.com/color/50/000000/facebook-new.png" class="facebook-logo"></a>
            <a href="https://www.twitter.com" target="_blank">  <img src="https://img.icons8.com/color/48/000000/twitter--v1.png" class="twitter-logo" style="margin-left:10px;"></a>
            <a href="https://www.instagram.com" target="_blank"> <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" class="instagram-logo" style="margin-left:10px;"></a>
            <a href="https://www.linkedin.com" target="_blank">  <img src="https://img.icons8.com/color/48/000000/linkedin.png" class="linkedin-logo" style="margin-left:10px;"></a>
            <a href="https://mail.google.com/" target="_blank"> <img src="https://img.icons8.com/office/44/000000/gmail-login.png" class="gmail-logo" style="margin-bottom:6px; margin-left:14px"></a>
        </div>
        <h6 style="text-align:center; color:white" class="footer-text">&copy; @DateTime.Now.Year - My ASP.NET Core Web Application</h6>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>